.container {
    border: 2px solid black;
    border-radius: 9px;
    padding: 6px 6px 6px 6px ;
    background-color: rgb(247, 208, 208);
    width: 340px;
    height: 400px;
    margin: 0px auto;
    box-shadow: 2px 2px 6px 2px lightgrey;
}

label{
display: block;
}

.msg{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    color: limegreen;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}

.msgAppear{
    display: block;
}