.site-layout-content {
	min-height: 280px;
	padding: 24px;
	background-color: #fff;
}
#components-layout-demo-top .logo  {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: #f5f5f5;
}
.ant-row-rtl #components-layout-demo-top .logo {
	float: right;
	margin: 16px 0 16px 24px;
}

.site-page-header-ghost-wrapper {
	padding: 24px;
	background-color: white;
}

.site-card-border-less-wrapper {
	padding: 30px;
	background: #ececec;
}

.divider{
	margin-top: 1px;


}

.logo{
	background-color: #ff1616;
}

.red{
	color: #ff1616;
}

.navbar{
	background-color: white ;
}

.white{
	background-color: white ;
}

.ant-btn-primary:hover, .ant-btn-primary:focus{
	color: #fff;
    background: #ff1616;
    border-color: #ff1616;
}
.ant-btn-primary{
	background: #ff1616;
	border-color: #ff1616;
}